{{>headerAdmin}}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h1 style="text-align: center; font-family: 'Lobster', cursive;">Dashboard</h1>
                        <div class="chart" id="chart">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.6.0/stitch.js"></script>
<script src="https://unpkg.com/@mongodb-js/charts-embed-dom"></script>
<script>
    const sdk = new ChartsEmbedSDK({
        baseUrl: "https://charts.mongodb.com/charts-cloud-computing---assignm-qeqsh"
    });
    const chart = sdk.createChart({
        chartId: "63517735-1e8f-47d9-8a09-ebcc7ae5fad0",
        height: "700px",
        theme: "dark"
    });
    chart.render(document.getElementById("chart"));
</script>