{{>headerAdmin}}
<div class="col-md-9 grid-margin" style="margin: auto;">
    <div class="card">
        <div class="card-body">
            <h2 style="text-align: center;">Insert new product</h4>
            <form class="forms-sample" enctype="multipart/form-data" method="post">
                <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter product name">
                </div>

                <div class="form-group">
                <label for="name">Category</label>
                <select name="category" class="form-control">
                    <option value=""></option>
                </select>
                </div>

                <div class="form-group">
                <label for="des">Description</label>
                <input type="text" class="form-control" id="des" placeholder="Enter description">
                </div>

                <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" placeholder="Enter price">
                </div>

                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                        <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                        </span>
                    </div>
                </div>

                <hr style="height: 2px;color:gray;background-color:gray;border-width:0;">
                <div class="form-group">
                <label for="color">Color</label>
                <input type="text" class="form-control" id="color" placeholder="Enter color">
                </div>

                <div class="form-group">
                <label for="stock">Stock</label>
                <input type="number" class="form-control" id="stock" placeholder="Enter stock">
                </div>

                <div class="form-group">
                <button type="button" class="addColor file-upload-browse btn btn-info" id="addColor" style="padding:12px 10px">
                    <i class="fa-solid fa-circle-plus"></i> Add more color
                </button>
                </div>

                <div>
                    <button type="submit" class="btn btn-success mr-2" style="padding:12px 10px"><i class="fa-solid fa-circle-check"></i> Submit</button>
                    <button class="btn btn-danger mr-2" style="padding:12px 10px"><i class="fa-solid fa-circle-xmark"></i> Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- Click to add more color --}}
<script>
    $(document).on('click', '.addColor', function(){
        var html = '<hr style="height: 2px;color:gray;background-color:gray;border-width:0;">'
        + '<div class="form-group"><label for="color">Color</label><input type="text" class="form-control" id="color" placeholder="Enter color">'
        + '</div><div class="form-group"><label for="stock">Stock</label><input type="number" class="form-control" id="stock" placeholder="Enter stock">'
        + '</div><div class="form-group"><button type="button" class="addColor file-upload-browse btn btn-info" id="addColor" style="padding:12px 10px">'
        + '<i class="fa-solid fa-circle-plus"></i> Add more color</button></div>';
        var element = document.getElementById("addColor");
        $(this).parent().append(html);
        element.remove();
    });
</script>